// margin
.m-b{
    margin-bottom: $mar-m;
}
.m-t-3p{
    margin-top: 3px;
}
.m-t-3e{
    margin-top:3em;
}
.m-t-2e{
    margin-top:2em;
}
.m-t-1e{
    margin-top:1em;
}
//padding
.p-t-b{
    padding-top: 5em;
    padding-bottom: 5em;
}