.warp{
    overflow: hidden;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
}
.pos{
    position: relative;
}
//文字置中
.t-a-c{
    text-align: center;
}
