@include iphone(){
    .footer{
        display: block;
        .navber{
            padding: 0 0 4em 0;
            margin-right: 0;
            float: none;
            background: #354950;
            .footer-me-logo{
                width: 180px;
                @include block-center;
            }
            .conn-icon{
                background: #f1f0f0;
                left: 0;
                float: none;
                width: 100%;
                padding: 1em 0;
                bottom: -20px;
                display: flex;
                justify-content: center;
            }            
        }
        .conn{
            float: none;
            h3{
                margin-left: 0;
                text-align: center;
            }
            li{
                margin-left: 0;
                text-align: center;
            }
        }
        .Copright{
            background: #354950;
        }
    }
    .fa-instagram,
    .fa-github,
    .fa-facebook-square {
        font-size: 36px;
        padding: 0 $pad-m;
    }
}
@include iphone6(){
    .conn-icon{
        padding: 0.6em 0 !important;
        li{
            padding-left: 0 !important;
            width: 33.33333%;
        }
    }
}