/*background*/
$contentbk:#efe9e7;
$footerbk:#efe9e7;
/*link botton*/
$linkColor:rgb(233, 248, 243);
$sentColor:#F56C23;
$cancelColor:rgba(0,0,0,0.35);
$white:#fff;
/*text*/
$titleColor:rgb(242, 255, 251);
$textCol: #3D1101;
$textHeight:24px;
/*mar*/
$mar-s:0.8em;
$mar-m:1em;
$mar-ms:2em;
$mar-l:3em;
$mar-xl:5em;
/*pad*/
$pad-s:0.6em;
$pad-m:1em;
$pad-ms:2em;
$pad-l:3em;
$pad-xl:5em;
/*font*/
$font-m:16px;
$font-xl:24px;
$font-l:20px;
$font-ms:18px;
$font-s:14px;
$font-32:32px;
$font-f: sans-serif;